{% extends 'base.html.twig' %}

{% block title %}Marcas{% endblock %}

{% block body %}
<div id="header_container"><h1 class="title">Marcas</h1></div>   

<div id="table_container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for marca in marcas %}
            <tr>
                <td>{{ marca.idMarca }}</td>
                <td>{{ marca.descripcion }}</td>
                <td>
                    <a href="{{ path('app_marca_show', {'idMarca': marca.idMarca}) }}" class="btn-neon">Mostrar</a>
                    <a href="{{ path('app_marca_edit', {'idMarca': marca.idMarca}) }}" class="btn-neon">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


    <a href="{{ path('app_marca_new') }}" class="btn-nuevo">Crear nueva marca</a>
    <a href="{{ path('app_inicio') }}" class="btn-nuevo">Volver</a>
{% endblock %}
