{% extends 'base.html.twig' %}

{% block title %}Marca{% endblock %}

{% block body %}
<div id="header_container"><h1 class="title">Marca</h1></div>    

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ marca.idMarca }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ marca.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_marca_index') }}" class="btn-nuevo">Volver</a>

    <a href="{{ path('app_marca_edit', {'idMarca': marca.idMarca}) }}" class="btn-nuevo">Editar</a>

    {{ include('marca/_delete_form.html.twig') }}
{% endblock %}
